<div class="nav-box">
    <div class="marca">
      <a routerLink="home"><span>ProMundi</span></a> 
    </div>
    <div class="menu">
      <ol>
        <a >
          <li>Sobre</li>
        </a>
        <a >
          <li>Contato</li>
        </a>
        <a >
          <li>Doação</li>
        </a>
        <a >
          <li>Profissionais</li>
        </a>
        <a >
          <li>Cadastre-se</li>
        </a>
        <a (click)="openModal()">
          <li>Login</li>
        </a>
      </ol>
    </div>
</div>

