<div class="home-box">
  <div class="tema">
    <h1>Covid-19</h1>
    <img src="../../../assets/WhatsApp_Image_2020-05-22_at_23-removebg-preview.png" alt="">
  </div>
  <div class="temas tema-1">
    <a routerLink="/saude">
      <span>Economia</span>
    </a>
  </div>
  <div class="temas tema-2">
    <a routerLink="/saude">
      <span>Empreendimentos</span>
    </a>
  </div>
  <div class="temas tema-3">
    <a routerLink="/saude" (click)="desativaSidebar()"> <span>Saúde</span></a>  
  </div>
  <div class="temas tema-4">
    <a routerLink="/saude"><span>Tecnologia</span></a>  
  </div>
  <div class="temas tema-5">
    <a routerLink="/saude"><span>Negócio</span></a>  
  </div>
  <div class="temas tema-6">
    <a routerLink="/saude"><span>Educação</span></a>  
  </div>
</div>
