$titulo_color: #9c8f64 ;
$texto_color:#383838 ;
$fundo_padrao: #f5f5f5 ;
$bg_botao_color: #dbcfdf ;

.side-box {
    background-color:#9c8f64;
    color: #383838;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .search {
        height:20vh;
    }
    .timeline {
        display: flex;
        justify-content: space-evenly;
        height:80vh;
        .timeline-numeros {
            background-color: blue;
        }
        .timeline-linha {
            border:1px solid #383838;
        }
        .timeline-conteudos {
            h5 {
                font-size:20px;
            }
            span {
                font-size: 10px;
            }
        }
    }

}