<div class="dados-usuario">
  <div style="flex: 1;">   
    <div class="descricao">
      <img src="../../..//assets/images (3).jpg" alt="">
      <ol>
        <li>Nome: {{usuario.nome}}</li>
        <li>Categoria: Economia </li>
        <li>Data de Nascimento: 23/12/1991</li>
        <li>Bio: Economista a 10 anos, Investidora e Coaching</li>
      </ol>
    </div>
  </div>
  <div style="flex:1">
    <carousel>
      <slide>
        <img src="../../../assets/download (1).jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Como a desavença entre Bolsonaro e Moro afetam a economia </h3>
        </div>
      </slide>
      <slide>
        <img src="../../../assets/download.jpg" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Grau de Incerteza gera desemprego em massa!</h3>
        </div>
      </slide>
      <slide>
        <img src="../../../assets/images.jpg" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </slide>
    </carousel>
    <small>conteudos publicados recentemente</small>
  </div>
</div>
